{
  "arrowParens": "always",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "singleQuote": true,
  "semi": false,
  "useTabs": false,
  "trailingComma": "none",
  "jsxSingleQuote": true,
  "printWidth": 80
}
